<!-- {% load static tailwind_tags %} -->
{% load tailwind_tags %}
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html class="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google" content="notranslate">
  <!-- Chart js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Toastify CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

  <!-- Toastify JS -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <link rel="stylesheet" href="{% static 'css/output.css' %}">

  <link rel="stylesheet" href="../../static/styles/global.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}
  <title>
    {% block title %}

    {% endblock %}
  </title>

  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}
  <script>
    window.onload = function () {

      var chart = new CanvasJS.Chart("chartContainer", {
        exportEnabled: true,
        animationEnabled: true,
        title: {
          text: "State Operating Funds"
        },
        legend: {
          cursor: "pointer",
          itemclick: explodePie
        },
        data: [{
          type: "pie",
          showInLegend: true,
          toolTipContent: "{name}: <strong>{y}%</strong>",
          indexLabel: "{name} - {y}%",
          dataPoints: [
            { y: 26, name: "School Aid", exploded: true },
            { y: 20, name: "Medical Aid" },
            { y: 5, name: "Debt/Capital" },
            { y: 3, name: "Elected Officials" },
            { y: 7, name: "University" },
            { y: 17, name: "Executive" },
            { y: 22, name: "Other Local Assistance" }
          ]
        }]
      });
      chart.render();
    }

    function explodePie(e) {
      if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
        e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
      } else {
        e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
      }
      e.chart.render();

    }
  </script>

</head>

<body class="bg-green-50">

  <div class="mx-auto my-auto h-dvh flex">
    <div class="flex w-full">
      <!-- sidebar  -->
      <div
        class="dark:bg-gray-700 bg-gray-100 w-20 md:w-1/5 h-screen overflow-hidden flex flex-col justify-between border-r-4 border-gray-700">
        <div>
          <!-- logo  -->
          <div class="flex justify-center px-2 py-4 items-center gap-1 text-white">
            <div
              class="[filter:blur(4px)] rounded-[50px] [background:linear-gradient(180deg,_#d9d9d9,_#737373_53%)] w-[3rem] h-[3rem] border-[4px] border-solid border-gray-400 mb-4">
            </div>
            <p class="hidden md:block">Client Name</p>
          </div>
          <!-- logo ends  -->
          <!-- nav items side bar  -->
          <div>
            {% if request.user.user_type == "manager" %}
            <div class="bg-gray-400 flex items-center justify-center gap-4 p-4 mb-1">
              <img class="max-w-full overflow-hidden max-h-full" alt="" src="{% static 'images/group.svg' %}" />
              <a href="{% url 'manager' %}"
                class="hidden md:block font-semibold bg-gray-400 text-white text-center">Dashboard</a>
            </div>
            {% elif request.user.user_type == "accountant" %}
            <div class="bg-gray-400 flex items-center justify-center gap-4 p-4 mb-1">
              <img class="max-w-full overflow-hidden max-h-full" alt="" src="{% static 'images/group.svg' %}" />
              <a href="{% url 'accountant' %}"
                class="hidden md:block font-semibold bg-gray-400 text-white text-center">Dashboard</a>
            </div>
            {% elif request.user.user_type == "admin" %}
            <div class="bg-gray-400 flex items-center justify-center gap-4 p-4 mb-1">
              <img class="max-w-full overflow-hidden max-h-full" alt="" src="{% static 'images/group.svg' %}" />
              <a href="{% url 'admin' %}"
                class="hidden md:block font-semibold bg-gray-400 text-white text-center">Dashboard</a>
            </div>
            {% endif %}
            <div class="bg-gray-400 flex items-center justify-center gap-4 p-4 mb-1">
              <img class="max-w-full overflow-hidden max-h-full" alt=""
                src="{% static 'images/basileditoutline.svg' %}" />
              <a href="{% url 'create_report'%}"
                class="hidden md:block font-semibold bg-gray-400 text-white text-center">Add Record</a>
            </div>
            <div class="bg-gray-400 flex items-center justify-center gap-4 p-4 mb-1">
              <img class="max-w-full overflow-hidden max-h-full" alt=""
                src="{% static 'images/basilfiledownloadoutline.svg' %}" />
              <div class="hidden md:block font-semibold bg-gray-400 text-white text-center">Records</div>
            </div>
          </div>
        </div>
        <!-- logout setting   -->
        <div class="mb-8">
          <div class="flex items-center justify-center gap-4 text-red-500 mb-4">
            <div class="hidden md:block font-semibold">
              <a href="{% url 'logout_user' %}">Logout</a>
            </div>
            <img class="w-4 overflow-hidden max-h-full" alt="" src="{% static 'images/vector.svg' %}" />
          </div>
          <div class="flex items-center justify-center gap-4 text-white">
            <div class="font-semibold hidden md:block">settings</div>
            <img class="w-4 overflow-hidden max-h-full" alt=""
              src="{% static 'images/mingcuteusersettingfill.svg' %}" />
          </div>
        </div>
      </div>
      <!-- right section    -->
      <div class="w-4/5 flex flex-col justify-between h-screen overflow-y-auto overflow-x-hidden">
        <!-- header  -->
        <div
          class="bg-gray-800 w-full flex flex-col md:flex-row items-center justify-between md:px-6 md:py-2 p-2 text-white">
          <p class="text-xl mb-4 md:mb-0 text-center">Day Book</p>
          <div class="flex w-1/2 items-center justify-between md:gap-10">
            <!-- icons  -->
            <div class="flex flex-row items-center justify-center gap-4">
              <img class="w-4 relative h-4 cursor-pointer" alt="" src="{% static 'images/vector1.svg' %}"
                id="vectorIcon" />
              <img class="w-4 relative h-4 overflow-hidden cursor-pointer" alt=""
                src="{% static 'images/fluentdarktheme20filled.svg' %}" id="theme-toggle" />
              <img class="w-4 relative h-4 overflow-hidden cursor-pointer" alt=""
                src="{% static 'images/basilnotificationonoutline.svg' %}" />
            </div>
            <!-- employee details  -->
            <div class="flex flex-col items-center justify-center">
              <img class="rounded-[100px] w-8 h-8 object-cover" alt=""
                src="{% static 'images/2151064043-1@2x.png' %}" />
              <p class="text-sm text-white">{{ request.user.username }}</p>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock content %}
      </div>
    </div>

  </div>


  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    var vectorIcon = document.getElementById("vectorIcon");
    if (vectorIcon) {
      vectorIcon.addEventListener("click", function (e) {
        // Please sync "dark theme design dashboard main 3" to the project
      });
    }

    var frameLink = document.getElementById("frameLink");
    if (frameLink) {
      frameLink.addEventListener("click", function (e) {
        // Please sync "dark theme design new entry 1" to the project
      });
    }

    const htmlElement = document.documentElement;

    const handleThemeToggle = () => {
      console.log(htmlElement);
      htmlElement.classList.toggle("dark");
    };

    document
      .getElementById("theme-toggle")
      .addEventListener("click", handleThemeToggle);
  </script>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>

</html>