{% extends 'base/main.html' %}
{% block title %}
Update user details
{% endblock %}


{% load static %}

{% block content %}



<section class="h-100 bg-transparent">


  <div id='container' class='fixed inset-0 bg-blue bg-opacity-30 backdrop-blur-sm flex justify-center items-center'>

    <div class='bg-offwhite py-8 px-24 rounded-lg'>
      <div class='cursor-pointer'>
        <IoCloseCircle class='float-right text-red' />
      </div>
      <p class='text-lg font-bold text-grey'>Update {{ user.username }}'s details</p>
      <p class='text-xls font-normal text-grey pb-8'>Provide the following details to register</p>

      {% include 'base/messages.html' %}
      <form class='pb-6' method="post" action="{% url 'edit-user' user.pk %}">
        {% csrf_token %}

        <div class='relative pb-6'>
          <input type="text" name="username" value="{{data.username}}" id="username" placeholder={{user.username}}
            class='peer w-full h-10 rounded-t bg-white opacity-50 border-0 border-b-2 border-red focus:border-red text-black focus:outline-none appearance-none focus:ring-0 drop-shadow-xl focus:drop-shadow-xl' />
          <label for="username"
            class='absolute left-3 -top-1 peer-focus:left-3 peer-focus:-top-1 peer-focus:text-mbl text-grey text-mbl peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-placeholder-shown:text-grey transition-all'>Username</label>
        </div>
        <div class='relative pb-6'>
          <input type="email" name="email" value="{{data.email}}" id="email" placeholder={{user.email}}
            class='peer  w-full rounded-t bg-white opacity-50 h-10 border-0 border-b-2 border-red focus:border-red text-black focus:outline-none appearance-none focus:ring-0 drop-shadow-xl focus:drop-shadow-xl' />
          <label for="email"
            class='absolute left-3 -top-1 peer-focus:left-3 peer-focus:-top-1 peer-focus:text-mbl text-grey text-mbl peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-placeholder-shown:text-grey transition-all'>Email</label>
        </div>

        <div class='relative pb-6'>
          <input type="password" name="password" value="{{data.password}}" id="password"
            class='peer peer  w-full rounded-t bg-white opacity-50 h-10 border-0 border-b-2 border-red focus:border-red text-black focus:outline-none appearance-none focus:ring-0 drop-shadow-xl focus:drop-shadow-xl' />
          <label for="password"
            class='absolute left-3 -top-1 peer-focus:left-3 peer-focus:-top-1 peer-focus:text-mbl text-grey text-mbl peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-placeholder-shown:text-grey transition-all'>Password</label>
        </div>
        <div class='relative pb-6'>
          <input type="password" name="password2" value="{{data.password2}}"
            class='peer peer  w-full rounded-t bg-white opacity-50 h-10 border-0 border-b-2 border-red focus:border-red text-black focus:outline-none appearance-none focus:ring-0 drop-shadow-xl focus:drop-shadow-xl' />
          <label for="password2"
            class='absolute left-3 -top-1 peer-focus:left-3 peer-focus:-top-1 peer-focus:text-mbl text-grey text-mbl peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-placeholder-shown:text-grey transition-all'>Confirm
            Password</label>
        </div>

        <div class='flex hidden items-center justify-start'>
          <input type="checkbox" name="" id="" />
          <p class='p-3'>Remember me</p>
        </div>
        <button
          class='bg-green-700 cursor-pointer text-white sm:px-10 py-1.5 items-center justify-center rounded-full text-base font-roboto ml-auto mr-12'>Edit User</button>
      </form>
      <div onClick={handleSignIn} class='pt-6 hidden'>
        <p>If you have an account, <span class='text-red cursor-pointer'>Login now</span></p>
      </div>

    </div>

  </div>
</section>


{% endblock %}