{% extends 'base/main.html' %}



{% block content %}

<!-- dashboard start  -->
<div
class="w-full flex bg-red-300 dark:bg-gray-400 h-screentext-white font-outfit"
>
<!-- sidebar  -->
<div
  class="dark:bg-gray-700 bg-gray-100 w-20 md:w-1/5 h-screen overflow-hidden flex flex-col justify-between border-r-4 border-gray-700"
>
  <div>
    <!-- logo  -->
    <div
      class="flex justify-center px-2 py-4 items-center gap-1 text-white"
    >
      <div
        class="[filter:blur(4px)] rounded-[50px] [background:linear-gradient(180deg,_#d9d9d9,_#737373_53%)] w-[3rem] h-[3rem] border-[4px] border-solid border-gray-400 mb-4"
      ></div>
      <p class="hidden md:block">Accountant</p>
    </div>
    <!-- logo ends  -->
    <!-- nav items side bar  -->
    <div>
      <div
        class="bg-gray-400 flex items-center justify-center gap-4 p-4 mb-1"
      >
        <img
          class="max-w-full overflow-hidden max-h-full"
          alt=""
          src="/public/group.svg"
        />
        <div
          class="hidden md:block font-semibold bg-gray-400 text-white text-center"
        >
          Dashboard
        </div>
      </div>
      <div
        class="bg-gray-400 flex items-center justify-center gap-4 p-4 mb-1"
      >
        <img
          class="max-w-full overflow-hidden max-h-full"
          alt=""
          src="/public/basileditoutline.svg"
        />
        <div
          class="hidden md:block font-semibold bg-gray-400 text-white text-center"
        >
          Add Record
        </div>
      </div>
      <div class="bg-gray-400 flex items-center justify-center gap-4 p-4">
        <img
          class="max-w-full overflow-hidden max-h-full"
          alt=""
          src="/public/basilfiledownloadoutline.svg"
        />
        <div
          class="hidden md:block font-semibold bg-gray-400 text-white text-center"
        >
          Records
        </div>
      </div>
    </div>
  </div>
  <!-- logout setting   -->
  <div class="mb-8">
    <div class="flex items-center justify-center gap-4 text-red-500 mb-4">
      <div class="hidden md:block font-semibold">
        <a href={% url 'logout_user' %}>Logout</a>
      </div>
      <img
        class="w-4 overflow-hidden max-h-full"
        alt=""
        src="/public/vector.svg"
      />
    </div>
    <div class="flex items-center justify-center gap-4 text-white">
      <div class="font-semibold hidden md:block">settings</div>
      <img
        class="w-4 overflow-hidden max-h-full"
        alt=""
        src="/public/mingcuteusersettingfill.svg"
      />
    </div>
  </div>
</div>
<!-- right section    -->
<div class="w-4/5 flex flex-col justify-between h-screen overflow-scroll">
  <!-- header  -->
  <div
    class="bg-gray-800 w-full flex flex-col md:flex-row items-start md:items-center justify-between md:px-6 md:py-2 p-2 text-white"
  >
    <p class="text-xl mb-4 md:mb-0 text-center w-full">Day Book</p>
    <div class="flex items-center justify-between md:gap-10 w-full">
      <!-- icons  -->
      <div class="flex flex-row items-start justify-start gap-4">
        <img
          class="w-4 relative h-4 cursor-pointer"
          alt=""
          src="/public/vector1.svg"
          id="vectorIcon"
        />

        <img
          class="w-4 relative h-4 overflow-hidden cursor-pointer"
          alt=""
          src="/public/fluentdarktheme20filled.svg"
          id="theme-toggle"
        />

        <img
          class="w-4 relative h-4 overflow-hidden cursor-pointer"
          alt=""
          src="/public/basilnotificationonoutline.svg"
        />
      </div>
      <!-- employee details  -->
      <div class="flex flex-col items-center justify-center">
        <img
          class="rounded-[100px] w-8 h-8 object-cover"
          alt=""
          src="/public/2151064043-1@2x.png"
        />

        <p class="text-sm text-white">{{request.user.username}}</p>
        <p class="text-sm text-white">abcde@gmail.com</p>
      </div>
    </div>
  </div>
  <!-- main section  -->
  <div
    class="bg-gray-800 m-1 py-8 px-12 text-white h-full flex flex-col md:flex-row justify-between rounded-md"
  >


  {% if report %}

  

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Created at
              </th>
              <th scope="col" class="px-6 py-3">
                Creater
              </th>
              <th scope="col" class="px-6 py-3">
                  Category
              </th>
              <th scope="col" class="px-6 py-3">
                  Payment
              </th>
          </tr>
      </thead>
      <tbody>

        {% for rpt in report %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{rpt.created_at|date:"Y-m-d H:i"}}
              </th>
              <td class="px-6 py-4">
                  {{rpt.owner}}
              </td>
              <td class="px-6 py-4">
                  {{rpt.category}}
              </td>
              <td class="px-6 py-4">
                  {{rpt.payments}}
              </td>
          </tr>

          {% endfor   %}
          
      </tbody>
  </table>
</div>
{% endif %}


  </div>
</div>
</div>



{% endblock %}