{% extends 'base/main.html' %}

{% block title %}
Accountant's Feedback
{% endblock %}

{% block content %}
{% include 'base/messages.html' %}
    <h1>All Feedbacks</h1>
    <ul class="list-decimal list-inside space-y-2">
        {% for feedback in feedbacks %}
            <li class="p-4 border rounded-md">
                <a href="{% url 'view_feedback' feedback.id %}" class="hover:text-blue-800">
                    {{ feedback.content }}
                </a>
            </li>
        {% empty %}
            <li class="p-4 border rounded-md">
                No feedbacks available.
            </li>
        {% endfor %}
    </ul>
{% endblock %}