{% extends 'base/main.html' %}
{% load static %}


{% block content %}

<!-- Messages pop up -->
{% if feedback %}
  <script type="text/javascript">
    var feedbackContent = "{{ feedback.content }}";  // Get feedback content from Django context

    Toastify({
      text: feedbackContent,
      duration: 4000,
      close: true,
      gravity: "top", // `top` or `bottom`
      position: 'right', // `left`, `center` or `right`
      backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
      onClick: function () { window.location = "{{ feedback.link }}"; },  // Redirect to the feedback link when the toast is clicked
    }).showToast();
  </script>
{% endif %}

<!-- main section  -->
<div class="bg-gray-800 m-1 py-8 px-12 text-white h-full flex flex-col md:flex-row justify-between gap-x-10 rounded-md">
  <div class="space-y-4 w-1/2">
    <h1 class="mb-2">All Feedbacks</h1>
    <ul class="list-decimal list-inside space-y-2">
        {% for feedback in feedbacks %}
            <li class="p-4 border rounded-md">
                <a href="{% url 'view_feedback' feedback.id %}" class="hover:text-blue-800">
                    {{ feedback.content }}
                </a>
            </li>
        {% empty %}
            <li class="p-4 border rounded-md">
                No feedbacks available.
            </li>
        {% endfor %}
    </ul>
  </div>
  <!-- graphs  -->
  <div class="font-medium w-1/2">
    <p class="text-center hidden mb-6">Graphs and Overview</p>

    <!-- <div id="chartContainer" style="height: 400px; width: 500px;"></div> -->
    <canvas id="myChart" width="200" height="200"></canvas>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var payments = "{{ payments }}";
      var receipts = "{{ receipts }}";
      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['Payments', 'Receipts'],
          datasets: [{
            data: [payments, receipts],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',  // Color for Payments
              'rgba(54, 162, 235, 0.2)'   // Color for Receipts
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',  // Color for Payments
              'rgba(54, 162, 235, 1)'   // Color for Receipts
            ]
          }]
        },
      });
    </script>
  </div>
</div>



{% endblock %}