{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<!-- dashboard start  -->
<!-- main section  -->
<div class="bg-gray-800 m-1 py-8 px-12 text-white h-full flex flex-col md:flex-row justify-between rounded-md">
  <div>
    <p class="font-medium mb-4">Welcome Message</p>
    <div class="mb-6">
      <button class="bg-gray-600 py-2 px-4 rounded-md">
        <a href="#">new entry</a>
      </button>
    </div>
    <div class="mb-6">
      <input class="bg-gray-600 text-sm text-gray-100 rounded-sm overflow-hidden p-2 border-one outline-none"
        placeholder="mm/dd/yyyy" type="date" />
    </div>
    <div
      class="w-[14.75rem] relative tracking-[0.04em] font-medium inline-block min-h-20 min-w-20 md:min-h-80 md:min-w-80 bg-gray-600 p-1 rounded-md mb-4 md:mb-0">
      <p class="text-center">Recent Activity</p>
    </div>
  </div>
  <!-- graphs  -->
  <div class="font-medium">
    <p class="text-center mb-6">Graphs and Overview</p>
    <img class="w-[21.438rem] h-[15.25rem] object-cover" alt="" src="{% static 'images/4239584-90457-1@2x.png' %}" />
  </div>
</div>
</div>

{% endblock %}