{% extends 'base/main.html' %}
{% load static %}


{% block content %}

<!-- main section  -->
<div class="bg-gray-800 m-1 py-8 px-12 text-white h-full flex flex-col gap-x-10 md:flex-row justify-between rounded-md">
  <div class="space-y-4 w-1/2 overflow-x-auto">
    {% for report in pending_reports %}
    <a href="{% url 'report-edit' report.id %}"
      class="block bg-white rounded-lg shadow hover:shadow-lg transition-shadow duration-200 ease-in">
      <div class="p-6">
        <h2 class="text-xl font-semibold text-gray-900">{{ report.description }}</h2>
        <p class="mt-2 text-sm text-gray-600">{{ report.date }}</p>
      </div>
    </a>
    {% empty %}
    <p>No pending reports.</p>
    {% endfor %}
  </div>
  <!-- graphs  -->
  <div class="font-medium w-1/2">
    <p class="text-center mb-6">Graphs and Overview</p>

    <img class="w-[21.438rem] h-[15.25rem] object-cover" alt="" src="{% static 'images/4239584-90457-1@2x.png' %}" />
  </div>
</div>



{% endblock %}